<html><head><title>Connect to Open Source</title></head></html>
<bod><h1>Welcome to Conncect to Open Source About Us Page</h1>
<div style="display: -webkit-inline-flex;">
	<p style="float: left;">
		Connect OpenSource is an Organization which is looking forward to join hands with different global and local Open Source Communities/Projects and help them in achieving their goals by supporting the Opensource eco-system. 
	</p>
	<div style="float: right;">
		<p>image</p>
		<img src="">
	</div>
</div>
</bod>
